@page "/customers"

@inject HttpClient http

<h3>Customers</h3>

<p>
    <NavLink Href="/customers/create">Create New</NavLink>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                FirstName
            </th>
            <th>
                LastName
            </th>
            <th>
                Address
            </th>
            <th>
                City
            </th>
            <th>
                State
            </th>
            <th>
                PostalCode
            </th>
            <th>
                Country
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in CustomerList ?? new())
        {
            <tr>
                <td>
                    @customer.FirstName
                </td>
                <td>
                    @customer.LastName
                </td>
                <td>
                    @customer.Address
                </td>
                <td>
                    @customer.City
                </td>
                <td>
                    @customer.State
                </td>
                <td>
                    @customer.PostalCode
                </td>
                <td>
                    @customer.Country
                </td>
                <td>
                    <a href="@($"customers/edit/{customer.Id}")">Edit</a> |
                    <a href="@($"customers/details/{customer.Id}")">Details</a> |
                    <a @onclick="@(() => DeleteCustomer(customer.Id))"
                    @onclick:preventDefault="true" href="">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@code {
    public List<CustomerViewModel>? CustomerList { get; set; } = new List<CustomerViewModel>();

    protected override async Task OnInitializedAsync()
    {
        CustomerList = await http.GetFromJsonAsync<List<CustomerViewModel>>("api/customers");
        await base.OnInitializedAsync();
    }

    private async void DeleteCustomer(int CustomerId)
    {
        var result = await http.DeleteAsync($"api/customers/{CustomerId}");
        CustomerList = await http.GetFromJsonAsync<List<CustomerViewModel>>("api/customers");
        StateHasChanged();
    }
}